#.dockerignore


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv
env/
venv/
ENV/

# Test files
tests/
webpage_elements.txt

# Docker
docker-compose.yml
docker-compose.override.yml

# Miscellaneous
.git
.DS_Store
.idea/
.vscode/


# Ignore build artifacts
build/
